In [1]:
print("im going to inject %s here." %'something')

im going to inject something here.

In [4]:
print("im going to inject %s here, and %s text here." %('some','more'))

im going to inject some here, and more text here.

In [5]:
x,y='some','more'

In [6]:
print("I'm going to inject %s text here, and %s text here."%(x,y))

I'm going to inject some text here, and more text here.

In [7]:
print("he said his name was %s."%' anil')
print("he said his name was %s."%' ani')

he said his name was  anil.
he said his name was  ani.

In [8]:
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

In [10]:
print('good eveng %r.'%'this \tbig')

good eveng 'this \tbig'.

In [11]:
print('I wrote %s this program today.'%3.5)
print('I wrote %d this program today.'%3.5)

I wrote 3.5 this program today.
I wrote 3 this program today.

In [12]:
print('floating point number:%5.2f'%(13.144))

floating point number:13.14

In [13]:
print('floating point number:%6.4f'%(67.43))

floating point number:67.4300

In [16]:
print('floating point number:%8.45f'  %(90.56))

floating point number:90.560000000000002273736754432320594787597656250

In [17]:
print('floating point number: %8.45f' %(90.56))

floating point number: 90.560000000000002273736754432320594787597656250

In [18]:
print('first:%s,second:%5.2f,third:%r'%('hi',145,'helo'))

first:hi,second:145.00,third:'helo'

In [19]:
print('good moring{}'.format('good night'))

good moringgood night

In [23]:
print=str('The {2} {1} {0}'.format('fox','brown','quick'))

In [25]:
str

str

In [1]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [2]:
print('first object: {a}, second object: {b}, third object:{c}'.format(a=1,b='two',c=12.5))

first object: 1, second object: two, third object:12.5

In [3]:
print('a %s saved is a %s earned.'%('penny','penny'))
#vs
print('a {p} saved is a {p}earned'.format(p='penny'))

a penny saved is a penny earned.
a penny saved is a pennyearned

In [4]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8}| {1:9}'.format('ápple',3.))
print('{0:8}| {1:9}'. format('oranges',8))

Fruit    | Quantity
ápple   |       3.0
oranges |         8

In [5]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8}| {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11      |    22    |       33

In [6]:

print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

In [8]:
print('this is my ten character,two decimal number: %10.2f,%3.3')
print('this is my ten character ,two-decimal number:{0:10.2f}'.format(13.579))

this is my ten character,two decimal number: %10.2f,%3.3
this is my ten character ,two-decimal number:     13.58

In [10]:
name= 'bhavana'
print(f'she said her name is {name}.')

she said her name is bhavana.

In [11]:
print(f"she said her name is {name!r}.")

she said her name is 'bhavana'.

In [14]:
num=345.876
print('my ten chracter, foyr decimal number is:{0:10.4f}'.format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

my ten chracter, foyr decimal number is:  345.8760
My 10 character, four decimal number is:   345.876

In [15]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45